body {
  font-family: "Poppins", sans-serif;
}
//Navigation CSS
nav {
  height: 50px;
}

.brand {
  background-color: #ecf2ff;
  display: flex;
  align-items: center;
  color: #655dbb;
}

.brand h1 {
  margin: 20px 40px 20px 50px;
  font-size: 28px;
}

nav ul {
  list-style-type: none;
  margin-left: 20rem;
  margin-right: 2rem;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #3e54ac;
  background-color: #ecf2ff;
  text-decoration: none;
  border-radius: 10px;
}

nav ul li a:hover {
  color: #fff;
  background-color: #bface2;
  border-radius: 10px;
}

.heading {
  text-align: center;
  padding: 4em;
}

.services {
  background-color: #ecf2ff;
  padding: 3rem;
  border-radius: 1rem;
}
.img {
  border-radius: 1rem;
}

.selection-div {
  display: flex;
  flex-direction: column;
  margin: 4rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 10px;
}

select,
input[type="submit"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

input[type="submit"] {
  margin-top: 10px;
}

select:hover,
input[type="submit"]:hover {
  background-color: #555;
}

.board-members {
  padding: 20px;
}

.board-members h2 {
  text-align: center;
  margin-bottom: 20px;
}

.board-members table {
  width: 100%;
  border-collapse: collapse;
}

.board-members table caption {
  font-weight: bold;
  margin-bottom: 10px;
}

.board-members table th,
.board-members table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.board-members table th {
  background-color: #f2f2f2;
}

.board-members table tbody tr:hover {
  background-color: #f9f9f9;
}

.footer {
  background-color: #3e54ac;
  color: #fff;
  padding: 0.1rem;
  text-align: center;
}

.button {
  display: inline-block;
  margin-right: 10px;
  background-color: #3e54ac;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button a {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  background-color: #bface2;
}
